logs
project/project
project/target
play/target
scalajs/target
shared/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
play/public/javascripts/scalajsclient-fastopt.js
play/public/javascripts/scalajsclient-fastopt.js.map
play/public/javascripts/scalajsclient-test-fastopt.js
play/public/javascripts/scalajsclient-test-fastopt.js.map